
html, body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}


.background-wrapper {
  position: relative;
  height: 100vh;    
  width: 100vw;      
  overflow: hidden;
  z-index: 0;
}


.background-wrapper::before {
  content: "";
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  background: url("/dog-background.jpg") no-repeat center center/cover;
  opacity: 0.3;
  z-index: -1;
  pointer-events: none; 
}

.app-wrapper {
  display: flex;
  height: 100vh;
  padding: 1rem;
  gap: 2rem;
  background: transparent;
}

.app-wrapper > * {
  flex-shrink: 0;
}

.ban-list {
  flex: 3;
  border-left: 2px solid #ddd;
  padding-left: 1rem;
}


.content {
  flex: 7;
  overflow-y: auto;
  position: relative;
  z-index: 1;
  max-width: 60vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); 
  color: white;
}

.content-overlay {
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 2rem;
  border-radius: 8px;
  color: white;
}
